# Dependencies
node_modules
.pnp
.pnp.js

# Production
.next/
out/
build/
dist/

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log

# Testing
coverage

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# User specific exclusions
# Markdown files
*.md
# Unwanted scripts
*.sh
*.bat
*.ps1
